<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	   
	<title>Text Utils</title>
</head>
<body>
	<h1 style="text-align: center;">Text Analyzer</h1><br>
	<h2>Enter your text.</h2>
	<form action="/analyze" method="get">
		<textarea name="text" style="margin: 0px; width: 1517px; height: 207px;"></textarea><br>
		<input type="checkbox" name="removepunc">Remove Punctuation<br><input type="checkbox" name="extraspaceremover">Extra Space Remover
		<br><input type="checkbox" name="capslk">Text Capitalization <br><input type="checkbox" name="newlineremover">New Line Remover
		<br><input type="checkbox" name="charcount">Character counter
		<button type="submit">Analyze Text</button>
	</form>
</body>
</html>